<template>
    <div class="login-back">


    </div>
</template>
<script>
    export default {
        data() {
            return {

            }
        },
        methods: {

        },
    }
</script>
